<footer>
    <a class="footer-link" href="https://chillguire.github.io/telecomly/about">
        <i class="fas fa-user"></i>
    </a>
    <a class="footer-link" href="/telecomly/">
        <i class="fas fa-home"></i>
    </a>
    <a class="footer-link" href="https://github.com/chillguire">
        <i class="fab fa-github-alt"></i>
    </a>
    <div class="footer-credit">
        Satellite icon made by 
        <a class="footer-credit" href="https://www.freepik.com/" title="Freepik">Freepik</a> from 
        <a class="footer-credit" href="https://www.flaticon.com/" title="Flaticon">Flaticon.</a> Licensed by 
        <a class="footer-credit" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC BY 3.0</a>
    </div>
</footer>
